<div class="container">
    <div class="icon" (mouseenter)="onMouseEnter()">

        <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280 200">
            <path class="cls-1"
                d="M1.5,174.83C129.74,78.27,153.53,42.13,147.57,28.17,137.45,4.49,29.55,15.96,17.9,64.83c-7.83,32.84,26.87,86.46,92.41,110-5.62-23.39-11.89-47.49-18.9-72.23-10.11-35.71-20.82-69.43-31.78-101.1" />
            <path class="cls-1" d="M135.15,108.68c.62,20.13,1.24,40.25,1.87,60.38" />
            <path class="cls-1" d="M175.61,103.94c-32.74,19.44-55.2,38.17-52.51,46.06,2.68,7.87,30.48,5.15,66.2-4.56" />
            <path class="cls-1"
                d="M197.96,161.05c.3-4.24,6.37-84.68,23.03-86.23,17.32-1.61,40.96,82.51,32.64,87.43-4.7,2.78-21.86-18.38-64.34-91.06" />
        </svg>
    </div>
    <div class="intro">
        <h2>A Bit About Myself</h2>
        Hello, I'm Punith Kumar — a software engineer and aspiring artist, wandering through life with a bit of
        overthinking, a lot of daydreaming, and a deep sense of awe and inspiration from the incredible art and
        craftsmanship of others, both in engineering and arts.
        <br><br>
        Well that's about it from me --
        Cheers!!!
    </div>
</div>