a {
    padding: 2rem 4rem;
    display: block;
    box-sizing: border-box;
    margin:0;
}

.active {
    background-color: var(--medium);
}

div {
    display: flex;
    justify-content: center;
    :last-child {
        border-radius: 0px 30px 30px 0px;
    }
    :first-child{
        border-radius: 30px 0px 0px 30px;
    }
    a + a {
        border-left: 2px solid var(--highlight);
    }
}