:root {
    --dark : #d9d9d9;
    --medium : #E0E0E0; 
    --light : #EDEDED;
    --highlight: #FAFAFA;
}

.light {
    background-color: var(--light);
}
.dark {
    background-color: var(--dark);
}
.medium {
    background-color: var(--medium);
}
.highlight {
    background-color: var(--highlight);
}

a{
    text-decoration: none;
}